<form>
  <input type="text" ng-model="title">
  <input type="text" ng-model="author">
  <button ng-click="BookService.addBook(title, author); title=''; author='';">Add Book</button>
</form>
<h1>Search Books By Title: {{searchBookTitle}}</h1>
<input type="text" ng-model="searchBookTitle" placeholder="Book Title">
<br>
<ul>
  <li class="book" ng-repeat="book in books | filter: {title: searchBookTitle} | orderBy:'+title'">
    <h4 class="book_title" ng-click="">{{book.title}}</h4>
    <p class="book_author">{{book.author}}</p>
  </li>
</ul>